<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
***
# Title: Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)
***
### Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
***
**Objectives:**
+ List of popular data science languages
+ List of some data science libraries
+ Table of some Data Science tools
+ Example of simple arithmetic expression in Python

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
***
Some of the data science languages:
+ Python
+ R
+ SQL
+ Java
+ C++
+ Scala

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
***
Some of the data science libraries:
+ pandas
+ ggplot
+ numpy
+ matplotlib
+ scipy
+ pytorch
+ tensorflow

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
***
|No.|DS Tool|Type|
|------|------|------|
|1|Apache Airflow|Data Integration and Transformation|
|2|Apache Nifi|Data Integration and Transformation|
|3|MySQL|Data Management|
|4|Kibana|Data Exploration|
|5|TensorFlow Lite|Model Deployment|
|6|GitHub|Code Asset Management|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
***
### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

In [9]:
(3*4)+5
#  This a simple arithmetic expression to mutiply then add integers

17

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [10]:
m=200
hr=m/60
print(m, " minutes = ", hr, " hours")
# This will convert 200 minutes to hours by dividing by 60

200  minutes =  3.3333333333333335  hours

Exercise 11 - Create a markdown cell to indicate the Author's name
***
## Author 
Banshai Dympep